/* container: Đây là lớp CSS cho phần chứa chính của component.*/
.container{
    margin-top: 30px; /* Cách phần trên 30px */
}

/* title: Đây là lớp CSS cho tiêu đề của phần giới thiệu.*/
.title{
    font-size: 96px; /* Kích thước chữ lớn */
    font-weight: 300; /* Độ đậm của chữ là 300 (nhẹ) */
}

/* post: Đây là lớp CSS cho phần bài viết nổi bật.*/
.post{
    margin-top: 60px; /* Cách phần trên 60px */
    display: flex; /* Sử dụng flexbox để bố trí phần tử con theo hàng ngang */
    align-items: center; /* Căn giữa phần tử con theo chiều dọc */
    gap: 50px /* Khoảng cách giữa các phần tử con là 50px */
}

/* imgContainer: Đây là lớp CSS cho phần chứa hình ảnh của bài viết nổi bật.*/
.imgContainer{
    flex: 1; /* Phần này sẽ chiếm 1 phần của không gian còn lại */
    height: 500px; /* Chiều cao của phần chứa hình ảnh là 500px */
    position: relative; /* Đặt vị trí tương đối để có thể sử dụng thuộc tính fill cho hình ảnh */
}

/* image: Đây là lớp CSS cho hình ảnh trong phần bài viết nổi bật.*/
.image{
    object-fit: cover; /* Hình ảnh sẽ được cắt để vừa với kích thước của phần chứa mà không làm biến dạng hình ảnh */
}

/* textContainer: Đây là lớp CSS cho phần chứa văn bản của bài viết nổi bật.*/
.textContainer{
    flex: 1; /* Phần này sẽ chiếm 1 phần của không gian còn lại */
    display: flex; /* Sử dụng flexbox để bố trí phần tử con theo hàng ngang */
    flex-direction: column; /* Sắp xếp phần tử con theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa các phần tử con là 20px */
}

/* postTitle: Đây là lớp CSS cho tiêu đề của bài viết nổi bật.*/
.postTitle{
    font-size: 40px; /* Kích thước chữ của tiêu đề bài viết là 40px */
}

/* postDesc: Đây là lớp CSS cho mô tả ngắn của bài viết nổi bật.*/
.postDesc{
    font-size: 20px; /* Kích thước chữ của mô tả bài viết là 20px */
    font-weight: 300; /* Độ đậm của chữ là 300 (nhẹ) */
    color: var(--softTextColor); /* Màu sắc của chữ được lấy từ biến CSS --softTextColor */
}

.button{
    padding: 16px 20px; /* Khoảng cách bên trong của nút là 16px theo chiều dọc và 20px theo chiều ngang */
    border: none; /* Không có viền */
    border-radius: 5px; /* Bo góc của nút là 5px */
    width: max-content; /* Chiều rộng của nút sẽ tự động điều chỉnh theo nội dung bên trong */
}

/* media screen: Đây là phần CSS dành cho các thiết bị có màn hình có kích thước tối đa là 1280px (thường là máy tính bảng hoặc điện thoại).*/
@media screen and (max-width: 1280px) {
    .title{
        font-size: 72px; /* Kích thước chữ giảm xuống 72px */
    }
}

/* media screen: Đây là phần CSS dành cho các thiết bị có màn hình có kích thước tối đa là 768px (thường là điện thoại).*/
@media screen and (max-width: 1024px) {
    .title{
        font-size: 64px; /* Kích thước chữ giảm xuống 64px */
    }

    .imgContainer{
        display: none; /* Ẩn phần chứa hình ảnh */
    }
}

/* media screen: Đây là phần CSS dành cho các thiết bị có màn hình có kích thước tối đa là 768px (thường là điện thoại).*/
@media screen and (max-width: 640px) {
    .title{
        font-size: 36px; /* Kích thước chữ giảm xuống 36px */
    }
}

