.container {}

/* title là tiêu đề của danh sách thể loại*/
.title {
    margin: 50px 0px;
    /* khoảng cách trên và dưới của tiêu đề là 50px, không có khoảng cách bên trái và bên phải */
}

/* categories là phần chứa các liên kết thể loại, được hiển thị dưới dạng lưới với khoảng cách giữa các phần tử */
.categories {
    display: flex;
    /* sử dụng flexbox để hiển thị các phần tử con trong một hàng hoặc cột */
    flex-wrap: wrap;
    /* cho phép các phần tử con tự động xuống dòng nếu không đủ chỗ trong một hàng */
    justify-content: space-between;
    /* căn chỉnh các phần tử con sao cho có khoảng cách đều giữa chúng */
    gap: 20px;
    /* khoảng cách giữa các phần tử con */
}

.category {
    display: flex;
    /* sử dụng flexbox để hiển thị các phần tử con trong một hàng hoặc cột */
    align-items: center;
    /* căn chỉnh các phần tử con theo chiều dọc */
    gap: 10px;
    /* khoảng cách giữa các phần tử con */
    text-transform: capitalize;
    /* chuyển đổi chữ cái đầu tiên của mỗi từ thành chữ hoa */
    width: 15%;
    /* đặt chiều rộng của phần tử category là 15% của phần tử cha */
    height: 80px;
    /* đặt chiều cao của phần tử category là 80px */
    justify-content: center;
    /* căn chỉnh nội dung của phần tử category theo chiều ngang */
    border-radius: 10px;
    /* tạo bo tròn cho phần tử category với bán kính đường viền là 10px */
}

.category.style {
    background-color: #57c4ff31;
    /* màu nền cho liên kết thể loại "style" */
}

.category.fashion {
    background-color: #ff57c445;
    /* màu nền cho liên kết thể loại "fashion" */
}

.category.food {
    background-color: #57ff5731;
    /* màu nền cho liên kết thể loại "food" */
}

.category.travel {
    background-color: #ff575731;
    /* màu nền cho liên kết thể loại "travel" */
}

.category.culture {
    background-color: #ffb95731;
    /* màu nền cho liên kết thể loại "culture" */
}

.category.coding {
    background-color: #5757ff31;
    /* màu nền cho liên kết thể loại "coding" */
}

.category.life {
    background-color: #38efa931;
    /* màu nền cho liên kết thể loại "coding" */
}


.image {
    border-radius: 50%;
    /* tạo hình tròn cho hình ảnh bằng cách đặt bán kính đường viền bằng một nửa kích thước của hình ảnh */
}

@media screen and (max-width: 1280px) {
    .category {
        width: 20%;
        /* đặt chiều rộng của phần tử category là 48% của phần tử cha */
    }
}

@media screen and (max-width: 1024px) {
    .category {
        width: 25%;
        /* đặt chiều rộng của phần tử category là 48% của phần tử cha */
    }
}

@media screen and (max-width: 768px) {
    .category {
        width: 45%;
        /* đặt chiều rộng của phần tử category là 48% của phần tử cha */
    }
}

@media screen and (max-width: 640px) {
    .category {
        width: 100%;
        /* đặt chiều rộng của phần tử category là 100% của phần tử cha */
    }
}