/* container là phần tử cha của footer, chứa tất cả các phần tử con bên trong footer */
.container {
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Sử dụng justify-content để căn chỉnh các phần tử con trong container */
    color: var(--softTextColor);
    /* Sử dụng biến CSS để định nghĩa màu sắc cho văn bản trong footer */
}

/* info là phần tử con của container, chứa logo và các thông tin liên hệ của trang web */
.info {
    flex: 1;
    /* Sử dụng flex: 1 để phần tử info chiếm toàn bộ không gian còn lại trong container */
    display: flex;
    flex-direction: column;
    /* Sử dụng flex-direction: column để sắp xếp các phần tử con của info theo chiều dọc */
    gap: 14px;
}

/* list là phần tử con của container, chứa các liên kết đến các trang khác của trang web */
.logo {
    display: flex;
    /* Sử dụng display: flex để tạo một khối chứa logo và tên của trang web */
    align-items: center;
    /* Sử dụng align-items: center để căn chỉnh các phần tử con của logo theo chiều dọc */
    gap: 10px;
}

.logoImage {
    border-radius: 50%;
}

/* logoText là phần tử con của logo, chứa tên của trang web */
.logoText {
    font-size: 24px;
}

.desc {
    font-weight: 300;
}

/* icons là phần tử con của info, chứa các biểu tượng mạng xã hội của trang web */
.icons {
    margin-top: 10px;
    /* Sử dụng margin-top để tạo khoảng cách giữa phần tử icons và phần tử trước đó trong info */
    display: flex;
    gap: 10px;
}

/* listTitle là phần tử con của list, chứa tiêu đề của danh sách liên kết */
.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* Sử dụng justify-content: flex-end để căn chỉnh các phần tử con của list về phía bên phải của container */
    gap: 100px;
}

.list {
    display: flex;
    flex-direction: column;
    /* Sử dụng flex-direction: column để sắp xếp các phần tử con của list theo chiều dọc */
    gap: 10px;
    font-weight: 300;
}

.listTitle {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .links {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Sử dụng flex-direction: column để sắp xếp các phần tử con của container theo chiều dọc khi màn hình có kích thước nhỏ hơn hoặc bằng 768px */
        gap: 50px;
    }

    .links {
        width: 100%;
        /* Sử dụng width: 100% để phần tử links chiếm toàn bộ chiều rộng của container khi màn hình có kích thước nhỏ hơn hoặc bằng 768px */
        justify-content: space-between;
        /* Sử dụng justify-content: space-between để căn chỉnh các phần tử con của list về phía hai bên của container khi màn hình có kích thước nhỏ hơn hoặc bằng 768px */
    }
}

@media screen and (max-width: 640px) {
    .links {
        font-size: 14px;
    }
}