.link{
    cursor: pointer; /*thay đổi con trỏ chuột khi hover vào phần tử*/
}

.burger{
    width: 20px; /*chiều rộng của burger menu*/
    height: 16px; /*chiều cao của burger menu*/
    flex-direction: column; /*bố trí các phần tử con theo cột*/
    justify-content: space-between; /*phân phối không gian giữa các phần tử con*/
    cursor: pointer;    /*thay đổi con trỏ chuột khi hover vào phần tử*/
    display: none; /*ẩn burger menu mặc định*/
    display: flex; /*sử dụng flexbox để bố trí các phần tử con theo hàng ngang*/
}

.line{
    width: 100%; /*chiều rộng của mỗi dòng trong burger menu*/
    height: 2px; /*chiều cao của mỗi dòng trong burger menu*/
    background-color: var(--textColor); /*màu nền của mỗi dòng trong burger menu*/
}

.responsiveMenu{
    position: absolute; /*định vị phần tử responsiveMenu tuyệt đối so với phần tử cha*/
    top: 100px; /*khoảng cách từ đỉnh của responsiveMenu đến đỉnh của phần tử cha*/
    left: 0; /*căn trái responsiveMenu so với phần tử cha*/
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%; /*chiều rộng của responsiveMenu bằng 100% chiều rộng của phần tử cha*/
    display: flex; /*sử dụng flexbox để bố trí các phần tử con theo hàng ngang*/
    flex-direction: column; /*bố trí các phần tử con theo cột*/
    align-items: center; /*căn giữa các phần tử con theo chiều ngang*/
    justify-content: center; /*căn giữa các phần tử con theo chiều dọc*/
    gap: 50px;
    font-size: 36px; /*kích thước chữ của các liên kết trong responsiveMenu*/
}

@media screen and (max-width: 640px){
    .burger{
        display: flex; /*hiển thị burger menu khi màn hình nhỏ hơn hoặc bằng 640px*/
    }

    .link{
        display: none; /*ẩn các liên kết khi màn hình nhỏ hơn hoặc bằng 640px*/
    }
}