.link{
    cursor: pointer; /*thay đổi con trỏ chuột khi hover vào phần tử*/
}

.burger {
    width: 20px;
    height: 16px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}

.line{
    width: 100%; /*chiều rộng của mỗi dòng trong burger menu*/
    height: 2px; /*chiều cao của mỗi dòng trong burger menu*/
    background-color: var(--textColor); /*màu nền của mỗi dòng trong burger menu*/
}

.responsiveMenu{
    position: absolute; /*định vị phần tử responsiveMenu tuyệt đối so với phần tử cha*/
    top: 100px; /*khoảng cách từ đỉnh của responsiveMenu đến đỉnh của phần tử cha*/
    left: 0; /*căn trái responsiveMenu so với phần tử cha*/
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%; /*chiều rộng của responsiveMenu bằng 100% chiều rộng của phần tử cha*/
    display: none; 
    flex-direction: column; /*bố trí các phần tử con theo cột*/
    align-items: center; /*căn giữa các phần tử con theo chiều ngang*/
    justify-content: center; /*căn giữa các phần tử con theo chiều dọc*/
    gap: 50px;
    font-size: 36px; /*kích thước chữ của các liên kết trong responsiveMenu*/
    z-index: 999;
}

@media screen and (max-width: 640px){
    .burger{
        display: flex; /*hiển thị burger menu khi màn hình nhỏ hơn hoặc bằng 640px*/
    }

    .link{
        display: none; /*ẩn các liên kết khi màn hình nhỏ hơn hoặc bằng 640px*/
    }

    .responsiveMenu {
        display: flex;
    }
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}