/* Các phần tử con của container */
.container{
    display: flex; /*sử dụng flexbox để bố trí các phần tử con theo hàng ngang*/
    align-items: center; /*căn giữa các phần tử con theo chiều dọc*/
    justify-content: space-between; /*phân phối không gian giữa các phần tử con*/
    height: 100px; /*chiều cao của navbar*/
}

/* Phần tử con social */
.social{
    display: flex; /*sử dụng flexbox để bố trí các phần tử con theo hàng ngang*/
    gap: 10px; /*khoảng cách giữa các phần tử con*/
    flex: 1; /*cho phép phần tử social chiếm không gian còn lại trong container*/
}

.logo{
    flex: 1; /*cho phép phần tử logo chiếm không gian còn lại trong container*/
    text-align: center; /*căn giữa nội dung của phần tử logo theo chiều ngang*/
    font-size: 36px; /*kích thước chữ của logo*/
    font-weight: bold; /*độ đậm của chữ logo*/
}

.links{
    display: flex; /*sử dụng flexbox để bố trí các phần tử con theo hàng ngang*/
    align-items: center;
    gap: 20px; /*khoảng cách giữa các phần tử con*/
    flex: 1; /*cho phép phần tử links chiếm không gian còn lại trong container*/
    font-size: 20px; /*kích thước chữ của các liên kết*/
    white-space: nowrap; /*ngăn chặn việc xuống dòng của các liên kết*/
}

@media screen and (max-width: 1280px){
    .logo {
        font-size: 32px; /*kích thước chữ của logo khi màn hình nhỏ hơn hoặc bằng 1280px*/
    }
    
    .links {
        font-size: 18px; /*kích thước chữ của các liên kết khi màn hình nhỏ hơn hoặc bằng 1280px*/
        gap: 15px; /*khoảng cách giữa các phần tử con khi màn hình nhỏ hơn hoặc bằng 1280px*/
    }
}

@media screen and (max-width: 1024px){
    .social {
        display: none; /*ẩn phần tử social khi màn hình nhỏ hơn hoặc bằng 1024px*/
    }

    .logo {
        text-align: left; /*căn trái nội dung của phần tử logo khi màn hình nhỏ hơn hoặc bằng 1024px*/ 
    }
}

@media screen  and (max-width: 768px){
    .logo {
        font-size: 24px; /*kích thước chữ của logo khi màn hình nhỏ hơn hoặc bằng 768px*/
    }
}

@media screen and (max-width: 640px){
    .links{
        justify-content: flex-end; /*căn phải các phần tử con trong phần tử links khi màn hình nhỏ hơn hoặc bằng 640px*/
    }
    .link {
        display: none; /*ẩn phần tử link khi màn hình nhỏ hơn hoặc bằng 640px*/
    }
}