/*Đây là file CSS cho component ThemeToggle, chứa các kiểu dáng để tạo giao diện chuyển đổi giữa chế độ sáng và tối.*/
.container{
    width: 40px; /*Chỉnh kích thước của container*/
    height: 20px; /*Chỉnh độ cao của container*/
    border-radius: 50px; /*Tạo hình tròn cho container*/
    cursor: pointer;    /*Thay đổi con trỏ khi hover vào container*/
    display: flex; /*Sử dụng flexbox để căn giữa nội dung bên trong container*/
    align-items: center; /*Căn giữa theo chiều dọc*/
    justify-content: space-between; /*Căn đều khoảng cách giữa các phần tử con*/
    position: relative; /*Đặt vị trí tương đối để có thể sử dụng vị trí tuyệt đối cho bóng chuyển đổi*/
}

.ball{
    width: 15px; /*Chỉnh kích thước của bóng chuyển đổi*/
    height: 15px; /*Chỉnh độ cao của bóng chuyển đổi*/
    border-radius: 50%; /*Tạo hình tròn cho bóng chuyển đổi*/
    position: absolute; /*Đặt vị trí tuyệt đối để dễ dàng di chuyển bóng chuyển đổi*/
}
